.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-layout {
  flex: 1;
  overflow: hidden;
}

.left-sidebar,
.right-sidebar {
  background-color: #f7f7f7;
  border-right: 1px solid #f0f0f0;
  overflow-y: auto;
}

.right-sidebar {
  position: relative;
  border-right: none;
  border-left: 1px solid #f0f0f0;
  transition: all 0.2s;
}

.main-content {
  flex: 1;
  display: flex;
  overflow: hidden;
}

/* 响应式样式 */
@media (max-width: 768px) {
  .right-sidebar {
    display: none;
  }
  
  .left-sidebar {
    max-width: 200px;
  }
}

.right-sidebar-trigger {
  position: absolute;
  top: 70px;
  right: 8px;
  z-index: 99;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  background-color: white;
}
